@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');
/*This is a comment!*/
/* CSS Syntax:
selector{
  property:value;
  property:value;
}
*/
/*Type selector*/
p{
  font-size:1em;/*16px*/
  line-height: 1.5em;
}
figcaption{
  /*font-weight: normal;*/
  /*font-size:0.75em;*/
  /*line-height: 1.5em;*/
  /*font-family: Georgia,"New Times New Roman",serif;*/
  font:normal 0.75em/1.5em 'Elsie Swash Caps',cursive;
  color:rgba(127,21,25,1);
  text-align:right;
}

.milk-text{
  font: bold 2.6em 'Elsie Swash Caps',cursive;
  color:white;
  text-shadow: 0.2px 3px #000;
}

#logo{
  background: aqua;
}
#logo h1{
  font-family: 'Clicker Script',cursive;
}