/*This is a comment!*/
/* CSS Syntax:
selector{
  property:value;
  property:value;
}
*/
/*Type selector*/
p{
  font-size:1em;/*16px*/
  line-height: 1.5em;
}
figcaption{
  /*font-weight: normal;*/
  /*font-size:0.75em;*/
  /*line-height: 1.5em;*/
  /*font-family: Georgia,"New Times New Roman",serif;*/
  font:normal 0.75em/1.5em Georgia,"New Times New Roman",serif;
  color: rgba(127,21,25,1);
}
  

